body {
    font: 1.3rem sans-serif;
    padding: 0.5em;
    margin: 0;
    background: #cfe816;
  } 

  form {
    font-family: 'Times New Roman', Times, serif; 
    background-color: rgb(242, 242, 242);
  }


